.textColor {
  color: rgb(255,255,255);
  background-color: rgb(10,30,100);
}

A {
    color:#dbdbdb; /* Цвет ссылок */
   }
A:visited {
    color:#dbdbdb; /* Цвет посещенных ссылок */
   }
A:active {
    color:#dbdbdb; /* Цвет активных ссылок */
   }
a.text {
  text-decoration: none;}
