.textColor {
  color:rgb(80,85,105);
  background-color: rgb(255,255,255);
}

A {
    color:rgb(80,85,105); /* Цвет ссылок */
   }
A:visited {
    color:rgb(80,85,105); /* Цвет посещенных ссылок */
   }
A:active {
    color:rgb(80,85,105); /* Цвет активных ссылок */
   }
a.text {
  text-decoration: none;}
