.textColor {
  color:rgb(95,92,93);
  background-color: white;
  font-family:"Bold";
}

A {
    color:rgb(95,92,93); /* Цвет ссылок */
   }
A:visited {
    color:rgb(95,92,93); /* Цвет посещенных ссылок */
   }
A:active {
    color:rgb(95,92,93); /* Цвет активных ссылок */
   }
a.text {
  text-decoration: none;}
