<!doctype html>

<!--
╔══╗╔══╗╔╗╩╔╗╔════╗───╔══╗╔══╗╔═══╗─╔══╗─╔══╗╔╗╔╗───╔══╗╔════╗╔╗╔╗─╔══╗─╔═══╗╔╗╔╗╔════╗╔══╗╔╗──╔╗╔╗╔╗
║╔═╝║╔╗║║║─║║╚═╗╔═╝───║╔═╝║╔╗║╚══╗║─║╔╗║─║╔╗║║║║║───║╔═╝╚═╗╔═╝║║║║─║╔╗║─║╔══╝║║║║╚═╗╔═╝║╔╗║║║──║║║║║║
║║──║╚╝║║║─║║──║║─────║║──║║║║─╔═╝║─║║║║─║╚╝║║╚╝║───║║────║║──║╚╝║─║║║║─║╚══╗║╚╝║──║║──║╚╝║║╚╗╔╝║║║║║
║║──║╔╗║║║─╔║──║║─────║║──║║║║─╚═╗║─║║║║─║╔╗║║╔╗║───║║────║║──╚═╗║─║║║║─║╔══╝║╔╗║──║║──║╔╗║║╔╗╔╗║║║╔║
║╚═╗║║║║║╚═╝║──║║─────║╚═╗║╚╝║╔══╝║╔╝╚╝╚╗║║║║║║║║───║╚═╗──║║───╔╝║╔╝╚╝╚╗║╚══╗║║║║──║║──║║║║║║╚╝║║║╚╝║
╚══╝╚╝╚╝╚═══╝──╚╝─────╚══╝╚══╝╚═══╝╚════╝╚╝╚╝╚╝╚╝───╚══╝──╚╝───╚═╝╚════╝╚═══╝╚╝╚╝──╚╝──╚╝╚╝╚╝──╚╝╚══╝

╔══╗╔╗╔╗╔════╗
║╔╗║║║║║╚═╗╔═╝
║║║║║║║║──║║
║║║║║║║║──║║
║╚╝║║╚╝║──║║
╚══╝╚══╝──╚╝

╔══╗╔═══╗╔╗╔╗───╔══╗╔══╗─╔══╗──╔══╗─╔═══╗╔═══╗╔╗╔╗╔╗╔╗╔══╗╔═══╗
║╔╗║║╔═╗║║║║║───║╔╗║║╔╗║─║╔╗║──║╔╗║─║╔══╝║╔═╗║║║║║║║║║║╔═╝║╔══╝
║║║║║╚═╝║║║║║───║║║║║║║║─║║║║──║║║║─║╚══╗║╚═╝║║╚╝╚╝║║╚╝║──║╚══╗
║║║║║╔══╝║║╔║───║║║║║║║║─║║║║──║║║║─║╔══╝║╔══╝║╔╗╔╗║║╔╗║──║╔══╝
║║║║║║───║╚╝║───║║║║║╚╝║╔╝╚╝╚╗╔╝╚╝╚╗║╚══╗║║───║║║║║║║║║╚═╗║╚══╗
╚╝╚╝╚╝───╚══╝───╚╝╚╝╚══╝╚════╝╚════╝╚═══╝╚╝───╚╝╚╝╚╝╚╝╚══╝╚═══╝

╔══╗╔════╗─╔══╗─╔═══╗─╔══╗╔══╗───╔══╗╔══╗╔╗╔╗
║╔╗║╚═╗╔═╝─║╔╗║─║╔══╝─║╔╗║║╔╗║───║╔╗║║╔═╝║║║║
║║║║──║║───║║║║─║╚══╗─║║║║║╚╝║───║╚╝║║║──║╚╝║
║║║║──║║───║║║║─║╔══╝─║║║║║╔╗║───║╔╗║║║──╚═╗║
║╚╝║──║║──╔╝╚╝╚╗║╚══╗╔╝║║║║║║║───║║║║║╚═╗─╔╝║
╚══╝──╚╝──╚════╝╚═══╝╚═╝╚╝╚╝╚╝───╚╝╚╝╚══╝─╚═╝
-->

<html lang="ru">
<head>
    <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/static/image/logo.ico">
    <link rel='stylesheet' href='{{links}}'>
    <link rel="stylesheet" type="text/css" href="/static/css/darkTems.css" id="theme-link">
    <title>{% block title %} Расписание ОПК {% endblock %}</title>
</head>
<body class='textColor'>
<a href="https://t.me/MisisOPK_bot" target="_blank" title="Теперь в Telegram" rel="noopener noreferrer"><div class="telegram-button"><img class="tgimg" src="/static/image/Logotg.svg"><i class="fa fa-telegram"></i></div></a>
<div class="telegram-button dpBT" title="Версия для слабовидящих" onmousedown="fTextReplace()"><img class="tgimg" src="/static/image/LogoYeag.svg" id='imgYeag'><i class="fa fa-telegram"></i></div>
<div class="telegram-button dpT" title="Темная версия сайта" onmousedown="fTemsReplace()"><img class="tgimg" src="/static/image/temsNight.svg" id='imgTems'><i class="fa fa-telegram"></i></div>
{% block body %}
{% endblock %}
</body>
<script type="text/javascript">
var link = document.getElementById("theme-link");
function getCookie(name) {
	 var matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"));
	 return matches ? decodeURIComponent(matches[1]) : undefined;
  }
    sizeB = document.body.style.fontSize;
    sizeRep = 0;
    tems = 0;
    if (getCookie('vslabost') == 'pl1') {
        fTextPlus()
    } else {
        fTextMinus()
    };
    if (getCookie('vstems') == 'black') {
        fBlack();
    } else {
        fWhite();
    };

    try {
      var span = document.getElementById('r1');
    }
      catch(error)
      {
    };


  function fTextPlus() {
    sizeRep = 1;
    document.body.style.fontSize = '130%';
    try {
    for (i=1; i<=4; i++) {
      name = 'r'+i;
      var span = document.getElementById(name);
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        try {
          span.style.fontSize = "90%";
        } catch (error) {
        };
      } else {
          try {
            span.style.fontSize = "130%";
          } catch (error) {
          };
      };
      };
      var date = new Date;
      date.setDate(date.getDate() + 5);
      date = date.toUTCString();
      document.cookie = 'vslabost=pl1; path=/; expires='+date;
      document.getElementById('imgYeag').src = '/static/image/LogoYeag2.svg';
      } catch(error)
      {
        console.log(error);
      };
    };
     function fTextMinus() {
       sizeRep = 0;
        document.body.style.fontSize = sizeB;
        try {
        for (i=1; i<=4; i++) {
            name = 'r'+i;
            var span = document.getElementById(name);
            try {
              span.style.fontSize = sizeT;
            } catch (error) {
            };
        };
        var date = new Date;
        date.setDate(date.getDate() + 5);
        date = date.toUTCString();
        document.cookie = 'vslabost=; path=/; expires='+date;
        document.getElementById('imgYeag').src = '/static/image/LogoYeag.svg';
      } catch(error)
      {
        console.log(error);
      }
    };
    function fTextReplace() {
      if (sizeRep == 1){
        fTextMinus();
      } else {
        fTextPlus();
      }
   };
   function fBlack() {
     tems=1;
     let darkTheme = "/static/css/darkTems.css";
     document.getElementById('imgLogo').src = '/static/image/logoNigct.svg';
     document.getElementById('imgTems').src = '/static/image/tems.svg';
     link.setAttribute("href", darkTheme);
     var date = new Date;
     date.setDate(date.getDate() + 5);
     date = date.toUTCString();
     document.cookie = 'vstems=black; path=/; expires='+date;
   };
   function fWhite() {
     tems=2;
     let lightTheme = "/static/css/lightTems.css";
     document.getElementById('imgLogo').src = '/static/image/logo.svg';
     document.getElementById('imgTems').src = '/static/image/temsNight.svg';
     link.setAttribute("href", lightTheme);
     var date = new Date;
     date.setDate(date.getDate() + 5);
     date = date.toUTCString();
     document.cookie = 'vstems=white; path=/; expires='+date;
   };
   function fTemsReplace() {
     if (tems == 1){
       fWhite();
     } else {
       fBlack();
     }
  };
</script>

<script src="/static/jsScript/jSnow.js"></script>

<script>
var date = new Date();
date = date.getMonth();

if (date == 0 || date == 1 || date == 11)
{
  $(document).ready(function() {
		$("body").jSnow({
			vSize: document.documentElement.scrollHeight-100, // Размер области
			flakes: 35, // Количество снежинок
			flakeColor: ["#b3deff"], // Цвет
			flakeMinSize: 10, // Минимальный размер снежинки
			flakeMaxSize: 20, // Максимальный размер снежинки
			fallingSpeedMin: 2, // Минимальная скорость снежинки
			fallingSpeedMax: 5, // Максимальная скорость снежинки
			flakeCode:["&bull;", "*"] // Вид снежинки
		});

	});
}

</script>

<!--
wpdtf

https://vk.com/wpdtf

 -->
</html>
