{% extends 'base.html' %}

{% block body %}
<center>
  <script type="text/javascript">

  document.addEventListener('keydown', function(event){
      if (event.shiftKey && ['Control'].includes(event.key) ) {
          window.location.href = '/AdminMenuPanel';
      }
  });
  </script>

  <div class='content'>
    <div id='imageDIV'><img src="/static/image/logo.svg" id='imgLogo'></div>
    <div id='titleDIV1'>Расписание ОПК</div>
    <div class='content2'>
      <table border=0 id='Zvon'>
          <tr><td colspan="3" class='Ftime'> {{ day }} {{ month }}{{ today }} {{ para }} </td></tr>
          <tr><td colspan="3" class='Ftime'>{{ date_end }}</td></tr>
          <tr><td></td><td>будни</td><td class='tdc'>суббота</td>
          {% for a in timerasp %}
          <tr>
            {% if a.title_column == 'перерыв' %}
            <td class='tdc'>{{a.title_column}}{% if a.title_dicription !='-1' %}<br><font size='-1'>{{a.title_dicription}}</font>{% endif %}</td>
            <td class='tdc'>{% if a.hourUP_b != '-1'%}{{a.hourUP_b}}{% endif %}<sup>{% if a.minutUP_b != '-1' %}{{a.minutUP_b}}{% endif %}</sup>{% if a.hourEND_b != '-1' %} - {{a.hourEND_b}}{% endif %}<sup>{% if a.minutEND_b != '-1' %}{{a.minutEND_b}}{% endif %}</sup></td>
            <td class='tdc'>{% if a.hourUP_s != '-1'%}{{a.hourUP_s}}{% endif %}<sup>{% if a.minutUP_s != '-1' %}{{a.minutUP_s}}{% endif %}</sup>{% if a.hourEND_s != '-1' %} - {{a.hourEND_s}}{% endif %}<sup>{% if a.minutEND_s != '-1' %}{{a.minutEND_s}}{% endif %}</sup></td>
            {% else %}
            <td>{% if a.title_column != '-1' %}{{a.title_column}}{% endif %}{% if a.title_dicription !='-1' %}<br><font size='-1'>{{a.title_dicription}}</font>{% endif %}</td>
            <td>{% if a.hourUP_b != '-1' %}{{a.hourUP_b}}{% endif %}<sup>{% if a.minutUP_b != '-1' %}{{a.minutUP_b}}{% endif %}</sup>{% if a.hourEND_b != '-1' %} - {{a.hourEND_b}}{% endif %}<sup>{% if a.minutEND_b != '-1' %}{{a.minutEND_b}}{% endif %}</sup></td>
            <td>{% if a.hourUP_s != '-1' %}{{a.hourUP_s}}{% endif %}<sup>{% if a.minutUP_s != '-1' %}{{a.minutUP_s}}{% endif %}</sup>{% if a.hourEND_s != '-1' %} - {{a.hourEND_s}}{% endif %}<sup>{% if a.minutEND_s != '-1' %}{{a.minutEND_s}}{% endif %}</sup></td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
    </div>
  </div>

  <div  class='content' >
    <div id='titleDIV2'><h1>Расписание ОПК</h1></div>
    <div class='content2'>
{% for a in spec %}   <a href="/group/{{a['id']}}" class='textColor'><div class='spec' class='textColor'>{{a['nameSize']}}</div></a> {% endfor %}

     <a href="/prep" class='textColor'> <div class='prep' class='textColor'>ПРЕПОДАВАТЕЛИ</div></a>
</div>
  </div>
</center>
{% endblock %}
