{% extends 'base.html' %}
{% block body %}
<center>
<div>
    <a href={{url_for("index")}}><div><img src='/static/image/logo.svg' id='imgLogo'/></div></a>
  <form method="post">
    {% for msg in get_flashed_messages() %}
    <div class='flash'>{{msg}}</div>
    {% endfor %}
    <p style='width:251.1px;'>Сайт разработан студентами ОИТ<br>при поддержки отдела АСУ</p>
  <input type="text" placeholder='Логин' class='avtorization' name='login'/><br>
  <input type="password" placeholder='Пароль' class='avtorization' name='password'/><br>
  <input type="submit" value='Войти' id='button' class='avtorization'>
  <br>


  </form>
</div>

</center>

{% endblock %}
