{% extends 'base.html' %}
{% block body %}
<center>
<div>
    <div><a href={{url_for("index")}}><img src='/static/image/logo.svg' id='imgLogo'/></a></div>
    <p style='width:251.1px;'>Административная панель<br><br></p>
  <!--  Текущее количество пользователей бота - {{bot_user}} -->
    <div style='display: inline-block; vertical-align: top; margin:10px;'>
    <br><p style='color: rgb(24,156,217);'>Управление таблицей расписания</p>
  Инструкция!<br>Если требуется пропуск времени указывайте '-1'.<br> Везде где указано время, необходимо вводить только числа!!! <br><br>
    <input value='' style='width:100px;' readonly/><input value='Будни' style='width:224px;text-aling:center;' readonly/><input value='Суббота' style='width:224px;text-aling:center;' readonly/> <br>
    <input value='Заголовок' style='width:100px;' readonly /><input value='Часы' readonly /><input value='Минуты' readonly/><input value='Часы' readonly/><input value='Минуты' readonly/><input value='Часы' readonly/><input value='Минуты' readonly/><input value='Часы' readonly/><input value='Минуты' readonly/> <br>
<form method="post">
{% for a in timerasp %}
<input name='title_{{a.id}}' style='width:100px;' value='{{a.title_column}}'  /><input name='hourUP_b_{{a.id}}' value='{{a.hourUP_b}}' /><input name='minutUP_b_{{a.id}}' value='{{a.minutUP_b}}' /><input name='hourEND_b_{{a.id}}' value='{{a.hourEND_b}}' /><input name='minutEND_b_{{a.id}}' value='{{a.minutEND_b}}' /><input name='hourUP_s_{{a.id}}' value='{{a.hourUP_s}}' /><input name='minutUP_s_{{a.id}}' value='{{a.minutUP_s}}' /><input name='hourEND_s_{{a.id}}' value='{{a.hourEND_s}}' /><input name='minutEND_s_{{a.id}}' value='{{a.minutEND_s}}' /> <br>
{% endfor %}
<br>
        <input type='submit' value='Обновить' id='check' />
</form>
</div>
<div style='display: inline-block; vertical-align: top; margin:10px;'>
  <br><p style='color: rgb(24,156,217);'>Пример итоговой таблицы</p>
        <table border=0 id='Zvon'>
            <tr><td></td><td>будни</td><td class='tdc'   >суббота</td>
            {% for a in timerasp %}
              {% if a.title_column == 'перерыв' %}
                <tr><td class='tdc'>{{a.title_column}}</td><td class='tdc'>{{a.hourUP_b}}<sup>{{a.minutUP_b}}</sup> - {{a.hourEND_b}}<sup>{{a.minutEND_b}}</sup></td><td></td>
              {% elif a.hourUP_s == '-1' %}
                <tr><td>{{a.title_column}}</td><td>{{a.hourUP_b}}<sup>{{a.minutUP_b}}</sup> - {{a.hourEND_b}}<sup>{{a.minutEND_b}}</sup></td><td></td>
              {% else %}
                <tr><td>{{a.title_column}}</td><td>{{a.hourUP_b}}<sup>{{a.minutUP_b}}</sup> - {{a.hourEND_b}}<sup>{{a.minutEND_b}}</sup></td><td>{{a.hourUP_s}}<sup>{{a.minutUP_s}}</sup> - {{a.hourEND_s}}<sup>{{a.minutEND_s}}</sup></td>
              {% endif %}
            {% endfor %}
          </table>
</div>
</div>
<style>
  input {
    width:50px;
  }
  #check {
    color:rgb(95,92,93);
    width:200px;
    background-color:white;
    border: 1px solid rgb(24,156,217);
  }
  #check:hover {
    background-color:rgb(24,156,217);
    color:white;
  }
</style>
</center>

{% endblock %}
