{% extends 'base.html' %}
{% block body %}
<center>
<div>
    <div><a href={{url_for("index")}}><img src='/static/image/LogoNewBlack.svg' id='imgLogo'/></a></div>
    <p style='width:251.1px;'>Административная панель<br><br></p>
    Текущее количество пользователей бота - {{bot_user}}<br><br>
  <form method="post" action="/UpdateBD">
    <p style='color: rgb(24,156,217);'>Обновление базы данных</p>
  Принудительно обновиться список групп и преподавателей, автообновления происходят автоматически ночью. <br><br>
    <input type='submit' value='Обновить' id='check' />
    </form>
    <div style='display: inline-block; vertical-align: top; margin:10px;'>
    <br><p style='color: rgb(24,156,217);'>Управление таблицей расписания</p>
  Инструкция!<br>Если требуется пропуск времени указывайте '-1'.<br> Везде где указано время, необходимо вводить только числа!!!<br>Так же каждая новая запись записывается в конец!!! <br><br>
    <table>
        <tr><td></td><td>будни</td><td class='tdc'>суббота</td>
        {% for a in timerasp %}
        <tr><form method="post" action="/DeleteZvon/{{a.id}}">
        <tr>
          {% if a.title_column == 'перерыв' %}
          <td class='tdc'>{{a.title_column}}{% if a.title_dicription !='-1' %}<br><font size='-1'>{{a.title_dicription}}</font>{% endif %}</td>
          <td class='tdc'>{% if a.hourUP_b != '-1'%}{{a.hourUP_b}}{% endif %}<sup>{% if a.minutUP_b != '-1' %}{{a.minutUP_b}}{% endif %}</sup>{% if a.hourEND_b != '-1' %} - {{a.hourEND_b}}{% endif %}<sup>{% if a.minutEND_b != '-1' %}{{a.minutEND_b}}{% endif %}</sup></td>
          <td class='tdc'>{% if a.hourUP_s != '-1'%}{{a.hourUP_s}}{% endif %}<sup>{% if a.minutUP_s != '-1' %}{{a.minutUP_s}}{% endif %}</sup>{% if a.hourEND_s != '-1' %} - {{a.hourEND_s}}{% endif %}<sup>{% if a.minutEND_s != '-1' %}{{a.minutEND_s}}{% endif %}</sup></td>
          {% else %}
          <td>{% if a.title_column != '-1' %}{{a.title_column}}{% endif %}{% if a.title_dicription !='-1' %}<br><font size='-1'>{{a.title_dicription}}</font>{% endif %}</td>
          <td>{% if a.hourUP_b != '-1' %}{{a.hourUP_b}}{% endif %}<sup>{% if a.minutUP_b != '-1' %}{{a.minutUP_b}}{% endif %}</sup>{% if a.hourEND_b != '-1' %} - {{a.hourEND_b}}{% endif %}<sup>{% if a.minutEND_b != '-1' %}{{a.minutEND_b}}{% endif %}</sup></td>
          <td>{% if a.hourUP_s != '-1' %}{{a.hourUP_s}}{% endif %}<sup>{% if a.minutUP_s != '-1' %}{{a.minutUP_s}}{% endif %}</sup>{% if a.hourEND_s != '-1' %} - {{a.hourEND_s}}{% endif %}<sup>{% if a.minutEND_s != '-1' %}{{a.minutEND_s}}{% endif %}</sup></td>
          {% endif %}
        <td><input type='submit' value='Удалить' id='check' /></td>
        </form></tr>
        {% endfor %}
<tr></tr>
        <tr><form method="post" action="/InsertZvon">
      <td><input name='title' style='width:100px;' type='text' placeholder='Заголовок' /><br>
      <input name='titleDiscription' style='width:100px;' type='text' placeholder='Подпись заголовка' /></td>
      <td><input name='hourUP_b' type='text' placeholder='Часы' />
      <input name='minutUP_b' type='text' placeholder='Минуты' /><br>
      <input name='hourEND_b' type='text' placeholder='Часы' />
      <input name='minutEND_b' type='text' placeholder='Минуты' /></td>
      <td><input name='hourUP_s' type='text' placeholder='Часы' />
      <input name='minutUP_s' type='text' placeholder='Минуты' /><br>
      <input name='hourEND_s' type='text' placeholder='Часы' />
      <input name='minutEND_s' type='text' placeholder='Минуты' /></td>
      <td><input type='submit' value='Добавить' id='check' /></td>
    </form>
        </tr>
    </table>


</div>
</div>
<style>
  input {
    width:50px;
  }
  #check {
    color:rgb(95,92,93);
    width:200px;
    background-color:white;
    border: 1px solid rgb(24,156,217);
  }
  #check:hover {
    background-color:rgb(24,156,217);
    color:white;
  }
</style>
</center>

{% endblock %}
