{% extends 'base.html' %}
{% block body %}
<center>

        <div id='contentRasp'>
          <a href={{url_for("index")}}><div id='imageDIV'><img src="/static/image/logo.svg" id='imgLogo'></div></a>
          <div id='titleF'>{{sotr_name['name']}}</div>
          <div class='titleDate'>{{day1}} {{month1}}</div> <!-- СОЗДАЕТСЯ ЕСЛИ ЕСТЬ РАСПИСАНИЕ НА ДЕНЬ -->
                <div class='rasp' id="r1">
                  <table border=0 style='table-layout: fixed; '>
                    <tr><td>№</td><td class='maxR'>Дисциплина</td><td class='maxR'>Группа</td><td>Аудитория</td></tr>
                    {% for b in raspsotr1 %}<tr><td>{{b['para']}}</td><td class='maxR'>{{b['disc']}}</td><td class='maxR'>{{b['name_group']}}</td><td>{{b['aud']}}</td></tr>{% endfor %}
                  </table>
              </div>

            <div class='titleDate'>{{day2}} {{month2}}</div>
                  <div class='rasp' id="r2">
                    <table border=0 style='table-layout: fixed; '>
                      <tr><td>№</td><td class='maxR'>Дисциплина</td><td class='maxR'>Группа</td><td>Аудитория</td></tr>
                      {% for b in raspsotr2 %}<tr><td>{{b['para']}}</td><td class='maxR'>{{b['disc']}}</td><td class='maxR'>{{b['name_group']}}</td><td>{{b['aud']}}</td></tr>{% endfor %}
                    </table>
                </div>


            <div class='titleDate'>{{day3}} {{month3}}</div>
                  <div class='rasp' id="r3">
                    <table border=0 style='table-layout: fixed; '>
                      <tr><td>№</td><td class='maxR'>Дисциплина</td><td class='maxR'>Группа</td><td>Аудитория</td></tr>
                      {% for b in raspsotr3 %}<tr><td>{{b['para']}}</td><td class='maxR'>{{b['disc']}}</td><td class='maxR'>{{b['name_group']}}</td><td>{{b['aud']}}</td></tr>{% endfor %}
                    </table>
                </div>

            <div class='titleDate'>{{day4}} {{month4}}</div>
                  <div class='rasp' id="r4">
                    <table border=0 style='table-layout: fixed; '>
                      <tr><td>№</td><td class='maxR'>Дисциплина</td><td class='maxR'>Группа</td><td>Аудитория</td></tr>
                      {% for b in raspsotr4 %}<tr><td>{{b['para']}}</td><td class='maxR'>{{b['disc']}}</td><td class='maxR'>{{b['name_group']}}</td><td>{{b['aud']}}</td></tr>{% endfor %}
                    </table>
                </div>

        </div>




</center>
{% endblock %}
