{% extends 'base.html' %}
{% block body %}
<center>

      <div id='contentRasp'>
        <a href={{url_for("index")}}><div id='imageDIV'><img src="/static/image/LogoNewBlack.svg" id='imgLogo'></div></a>
        <div id='titleF'>{{group_name['name']}}</div>
        <div class='titleDate'>{{day1}} {{month1}}</div> <!-- СОЗДАЕТСЯ ЕСЛИ ЕСТЬ РАСПИСАНИЕ НА ДЕНЬ -->
        <div class='rasp' id="r1">
          <table border=0 style='table-layout: fixed; '>
            <tr><td class="raspTB">№</td><td class='maxR raspTB'>Дисциплина</td><td class='maxR raspTB'>Преподаватель</td><td class="raspTB">Аудитория</td></tr> <!-- ОНО ЕСТЬ ВСЕГДА, если есть расписание -->
            {% for b in raspgroup1 %}{% if b.disc != '- - - - - - - - - - - - - - - -' %}<tr><td class="raspTB">{{b['para']}}</td><td class='maxR raspTB'>{{b['disc']}}</td><td class='maxR raspTB'>{{b['sotr']}}</td><td class="raspTB">{{b['name_group']}}</td></tr>{% endif %}{% endfor %}
          </table>
      </div>

    <div class='titleDate'>{{day2}} {{month2}}</div> <!-- СОЗДАЕТСЯ ЕСЛИ ЕСТЬ РАСПИСАНИЕ НА ДЕНЬ -->
          <div class='rasp' id="r2">
            <table border=0 style='table-layout: fixed; '>
              <tr><td class="raspTB">№</td><td class='maxR raspTB'>Дисциплина</td><td class='maxR raspTB'>Преподаватель</td><td class="raspTB">Аудитория</td></tr> <!-- ОНО ЕСТЬ ВСЕГДА, если есть расписание -->
            {% for b in raspgroup2 %}{% if b.disc != '- - - - - - - - - - - - - - - -' %}<tr><td class="raspTB">{{b['para']}}</td><td class='maxR raspTB'>{{b['disc']}}</td><td class='maxR raspTB'>{{b['sotr']}}</td><td class="raspTB">{{b['name_group']}}</td></tr>{% endif %}{% endfor %}
            </table>
        </div>
        <div class='titleDate'>{{day3}} {{month3}}</div> <!-- СОЗДАЕТСЯ ЕСЛИ ЕСТЬ РАСПИСАНИЕ НА ДЕНЬ -->
              <div class='rasp' id="r3">
                <table border=0 style='table-layout: fixed; '>
                  <tr><td class="raspTB">№</td><td class='maxR raspTB'>Дисциплина</td><td class='maxR raspTB'>Преподаватель</td><td class="raspTB">Аудитория</td></tr> <!-- ОНО ЕСТЬ ВСЕГДА, если есть расписание -->
                  {% for b in raspgroup3 %}{% if b.disc != '- - - - - - - - - - - - - - - -' %}<tr><td class="raspTB">{{b['para']}}</td><td class='maxR raspTB'>{{b['disc']}}</td><td class='maxR raspTB'>{{b['sotr']}}</td><td class="raspTB">{{b['name_group']}}</td></tr>{% endif %}{% endfor %}
                </table>
            </div>
            <div class='titleDate'>{{day4}} {{month4}}</div> <!-- СОЗДАЕТСЯ ЕСЛИ ЕСТЬ РАСПИСАНИЕ НА ДЕНЬ -->
                  <div class='rasp' id="r4">
                    <table border=0 style='table-layout: fixed; '>
                      <tr><td class="raspTB">№</td><td class='maxR raspTB'>Дисциплина</td><td class='maxR raspTB'>Преподаватель</td><td class="raspTB">Аудитория</td></tr> <!-- ОНО ЕСТЬ ВСЕГДА, если есть расписание -->
                      {% for b in raspgroup4 %}{% if b.disc != '- - - - - - - - - - - - - - - -' %}<tr><td class="raspTB">{{b['para']}}</td><td class='maxR raspTB'>{{b['disc']}}</td><td class='maxR raspTB'>{{b['sotr']}}</td><td class="raspTB">{{b['name_group']}}</td></tr>{% endif %}{% endfor %}
                    </table>
                </div>

      </div>



</center>
{% endblock %}
